.carousel {
    position: relative;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
}

.carousel-images img {
    max-height: 250px;
    width: auto;
    margin-right: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


////////////////////


.carousel2 {
    position: relative;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.carousel-images2 {
    display: flex;
}

.carousel-images2 img {
    max-height: 250px;
    width: auto;
    margin-right: 10px;
}

button2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev2 {
    left: 0;
}

.next2 {
    right: 0;
}




